<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="selectForm">Chọn mẫu</label>
      <select class="form-control form-control-sm" id="selectForm">
        <option value="1">Mẫu 1</option>
        <option value="2">Mẫu 2</option>
        <option value="3">Mẫu 3</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="selectSubmit">Cách tính điểm</label>
      <select class="form-control form-control-sm" id="selectSubmit">
        <option value="1">IELTS Listening</option>
        <option value="2">TOEIC</option>
        <option value="3">Điểm theo từng câu</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="nameExcersie">Tên đề thi</label>
      <input type="text" class="form-control" id="nameExcersie">
    </div>
  </div>
</div>