<div cdkDropListGroup>
  <div class="container-fluid background-color__gray">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <app-select-form></app-select-form>
        <div class="">
          <h4>
            Kết quả đề thi
          </h4>
          <small>Kéo các thư mục và câu hỏi bên phải vào đây để tạo kết cấu</small>
          <app-detail-excersie></app-detail-excersie>
        </div>
        <div class="pt-3">
          <h4>
            Phản hồi kết quả
          </h4>
          <small>
            Các quy tắc dựa trên kết quả trả lời của học viên để đưa ra các gợi ý học tập
          </small>
          <app-feedback></app-feedback>
        </div>
        <!-- đoạn này lát em fix hôm sau ạ -->
        <div class="row center py-5">
          <button class="btn btn-outline-secondary btn-lg mx-5">Quay Lại</button>
          <button class="btn btn-primary btn-lg mx-5">Lưu Mẫu</button>
          <button class="btn btn-primary btn-lg mx-5">Tạo đề</button>
          <input type="number" class="form-control form-control__width">
        </div>
      </div>
      <div class="col-md-3">
        <div class="pt-5">
          <h4>
            Ngân hàng câu hỏi
          </h4>
          <small>Kéo thả câu hỏi sang bên kết cấy đề thi để tạo đề</small>
          <app-drag-drop-exam></app-drag-drop-exam>
        </div>
      </div>
    </div>
  </div>
</div>